@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
html, body{
  background: aqua;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	 
	 
 
}

header p{
  font-weight: 900;
  font-size: xx-large;
}
header img {
	width: 80px;
}

header ul {
	display: flex;
	width: 45%;
	justify-content: space-between;
}

header ul li {
	list-style: none;
	font-weight: 600;
}

.container {
	padding: 40px 70px;
}

header button {
	width: 55px;
	height: 55px;
	outline: none;
	box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	border: none;
	background: white;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

header button img {
	width: 40%;
}
a{
  text-decoration: none;
  color:black;
}
 

.contenido {
	width: 100%;
	display: flex;
	position: relative;
  margin-top: 120px;
  margin-left: 100px;
}

.info {
	width: 35%;
    margin-left: 200px;
	margin-top: 90px;
}

.info h1 {
	 font-weight: 900;
	font-size: 3em;
}

.name {
	margin: 10px 0;
	color: #037943;
	font-size: 2em;
	font-weight: 700;
}
.contenido .info p{
	margin-top: 40px;
}

.info button {
	background-color: black;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 50px;
  font-weight: 500;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

 
.info button:hover {
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
 

.img-container {
	width: 65%;
	max-height: 75vh;
	object-fit: cover;
	overflow: hidden;
	margin-top: 90px;
}

.img-container img {
	width: 50%;
}

.social-buttons {
	width: 5%;
	position: relative;
}
.contenido .btn-1{
  color: #ffff;
}

@media screen and (max-width: 800px) {
	.contenido{
		flex-direction: column;
		width: 100%;
		 
	}
}